.pricing{
    width: 100% ;
    height: 65vh ;
    padding: 6rem 1rem;
    background: rgb(0, 0, 0);
}

.card-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
}  
.card{
    border: 1px solid #eee;
    color: #eee;
    text-align: center;
    padding: 1rem;
}

.card:hover{
    background-color: #141414;
} 
    
.card h3{
    font-size: 1.4rem;
    padding: 1rem;
}


.card p{
    margin-left: 1rem ;
    padding: 5px 0;
}

.btc{
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 0;
}

.btn{
    display: block;
    width: 60%;
    margin: 2rem auto;
    text-align: center;
}

.card .btn{
    display: block;
    width: 55%;
    margin: 2rem auto;
    text-align: center;
}  


@media screen and(max-width:740px) {
    .card-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: repeat(3,1fr);
    } 



.card:hover{
    background-color: #141414;
} 
    
} 